@using MvcFirmaCagri.Models.Entity
@model List<TblCagrilar>
@{
    ViewBag.Title = "AktifCagrilar";
    Layout = "~/Views/Shared/FirmaLayout.cshtml";
}
<h3>@ViewBag.CagriSayisi</h3>
@*@if (Model.Count == 0)
    {
    <div class="alert alert-primary" role="alert">
        <strong>Tebrikler!</strong>   Aktif çağrınız bulunmamakta!
    </div>
    }
    else
    {
     <table class="table table-bordered">
     </table>
    }*@
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Konu</th>
        <th>Tarih</th>
        <th>Düzenle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Konu</td>
            <td>@item.Tarih</td>
            <td><a href="/Default/CagriGetir/@item.ID/" class="btn btn-success">Düzenle</a></td>
            <td><a href="/Default/CagriDetay/@item.ID/" class="btn btn-info">Detaylar</a></td>
        </tr>
    }
</table>
<a href="/Default/YeniCagri" class="btn btn-primary">Yeni Çağrı Ekle</a>

